.design__section {
  color: #20201f;
  background: #fffbeb;
  position: relative;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 0;
}

h1 {
  font-size: 6em;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
}

h4 {
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 1px;
}

.border-to {
  border-top: 10px solid #ff87ab;
  display: inline-block;
  padding-top: 10px;
}

.border-botto {
  border-bottom: 10px solid #ff87ab;
  padding-bottom: 10px;
  display: inline-block;
}

.border-righ {
  border-right: 10px solid #ff87ab;
  padding-right: 20px;
  display: inline-block;
}

.center {
  margin-top: 80px;
  left: 38%;
  position: relative;
  -webkit-transform: translate(-50%, -15%);
  -ms-transform: translate(-50%, -15%);
  transform: translate(-50%, -15%);
}

.group1 {
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  -ms-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
}

.group2 {
  -webkit-transform: rotate(45deg) translate(34%, -80%);
  -ms-transform: rotate(45deg) translate(34%, -80%);
  transform: rotate(45deg) translate(34%, -80%);
}

.title__graphic {
  font-size: 5.2em;
}
@media screen and (max-width: 768px) {
  .design__button {
    margin-bottom: 24px;
  }
  .title__graphic {
    font-size: 3.2em;
  }
  .border-righ {
    font-size: 2em;
  }
}
