@media screen and (max-width: 600px) {
  .code__title__heading {
    font-size: 32px;
  }
  .photu {
    right: 5px !important;
  }
  .code {
    margin-top: 40px;
  }
}

.code__title__heading {
  font-size: 42px;
  font-weight: 700;
  font-family: code;
  letter-spacing: 0.5em;
  line-height: 150%;
}
.code__title {
  position: relative;
}
.photu {
  position: absolute;
  top: 0;
  right: 113px;
  width: 100px;
}

.code__content {
  font-size: 16px;
  color: grey;
  line-height: 32px;
}
button:focus {
  outline: none;
  box-shadow: none;
}

.press {
  border: none;
  font-family: code;
  font-weight: 700;
  background: #d90368;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  letter-spacing: 5px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}
.press:hover {
  box-shadow: none;
  color:#d90368 ;
  background-color: white ;
}


@media screen and (max-width: 600px) {
  .code__title__heading {
    font-size: 32px;
  }
}
