@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Acme);

.cards__company {
  gap: 20px;
  display: flex;
  justify-content: space-around;
}
.box-wrapper2 {
  max-width: 320px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 5px 43px rgb(0 0 0 / 48%);
  padding: 16px;
  text-align: center;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.box-wrapper2:hover {
  box-shadow: none;
}
.box-wrapper2 img {
  height: 80px;
  object-fit: cover;
  padding: 5px;
}

.title2 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-family: "Acme", sans-serif;
}

.desc2 {
  font-family: "Satisfy", cursive;
  font-size: 1.2em;
}

.heading {
  font-family: code;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.8em;
}

.box-content2 .price {
  font-size: 2em;
  font-weight: 900;
  display: block;
  width: 100px;
  margin: 20px auto 0;
  position: relative;
  font-family: "Satisfy", cursive;
}
.box-content2 .price2:after,
.box-content2 .price2:before {
  content: "";
  height: 1px;
  width: 50px;
  display: block;
  position: absolute;
  background-color: #ddd;
  top: 18px;
}
.box-content2 .price2:before {
  left: -50px;
}
.box-content2 .price2:after {
  right: -50px;
}

@media screen and (max-width: 540px) {
  .heading {
    font-size: 1.5em;
  }
}
